{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true
},

  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
	"react/jsx-props-no-spreading": [0, {
	    "html": "ignore",
	    "custom": "ignore",
	    "explicitSpread": "ignore",
		}],
    "no-plusplus": 0,
    "react/state-in-constructor": [1, never],

}
}


