ul.sb-list.pagination {
  flex-wrap: wrap;
}

ul.sb-list li {
  flex: auto;
  text-align: center;
}

ul.sb-list li a {
  cursor: auto;
}

.page-item .page-link {
  height: 100%;
  background-color: #008966;
}

