
.widget-list {
  height: 100%;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color: #444;
  border-radius: 4px;
  color: #fff;
  list-style-type: none;
}

.widget-link {
  display: block;
  height: 16.666666666666668%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-bottom: 1px solid #444;

  background-position: 3% 50%;
  background-size: 8px;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 3.3vh;
  text-decoration: none;
}

.widget-link.last {
  border-bottom-style: none;
}

.list-item {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.bird-details-card {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #444;
  border-radius: 4px;
}

.card-body {
  display: flex;
  padding-bottom: 20px;
}

.paragraph {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 23px;
}

.bird-image {
  border-radius: 10px;
}

.list-group-list-group-flush {
  height: 100%;
  margin-bottom: 0px;
  margin-left: 40px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: row;
  flex: 1;
  border-style: none;
  border-width: 1px;
  border-color: #444;
  border-radius: 4px;
  color: #fff;
  list-style-type: none;
}

.list-group-item {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.heading {
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
  font-size: 23px;
  line-height: 27px;
}

.text-block {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #444;
}




