.item-list {
  /* height: 100%; */
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #444;
  border-radius: 4px;
  color: #fff;
  list-style-type: none;
} 
