button.btn-def {
  width: 100%;
  margin: 5px auto;
  background-color: #303030;
  border: 1px solid #444;
  /* color: #fff!important; */
  /* cursor: auto; */
  transition: .5s;
}
button.btn-next {
  background-color: #00bc8c;
}

button.btn-next:hover {
  background-color: #00EFB2;
}


@media (max-width: 992px) {
  button.btn-def {
    /* margin-top: 20px; */
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {  
}

@media (max-width: 570px) {  
  button.btn-def {
    margin-bottom: 55px;
  }

}

